{% extends 'base.html' %}

{% block content %}
<style> td:hover{background-color: gray;}</style>
    <h2>Search</h2>
    <div class="card">
        <div class="card-block">

            <div class="card-text">Pick city</div>

              <table class="table">
                 <thead>
                    <th>city</th>
                 </thead>
                 {% for row in data1 %}
                    <tr>
                       <td onclick="window.open('/search/{{row['city']}}');">{{row['city']}}</td>
                    </tr>
                 {% endfor %}
              </table>
        </div>
        </div>
    </div>


{% endblock %}